*Old*
*.DS_Store
PoseProposal.pdf
code/02_whole_body_from_image.py
code/ViSInWebsite/.htaccess
code/__pycache__/
code/ai_bikefit_downloads/
code/angleeye.py
code/credentials.py
code/cv2_openpose.py
codeear
fig.png
code/inference_old.py
code/kps.npy
code/openpose_inference.py
code/sarahfig.png
code/test_images/
docs/
keypoints/
models/
openpose/
pairs_visin.txt
photos/
presentation_videos/
videos/
